[submodule "libs/factory/bootstrap"]
	path = libs/factory/bootstrap
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-bootstrap/
[submodule "libs/factory/core"]
	path = libs/factory/core
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-core/
[submodule "libs/factory/forms"]
	path = libs/factory/forms
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-forms/
[submodule "libs/factory/pages"]
	path = libs/factory/pages
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-pages/
[submodule "libs/onepress/compiler"]
	path = libs/onepress/compiler
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-compiler/
[submodule "libs/factory/notices"]
	path = libs/factory/notices
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-notices/
[submodule "libs/factory/clearfy"]
	path = libs/factory/clearfy
	url = ssh://git@bitbucket.org/webcraftic/wp-plugins-factory-clearfy
[submodule "components/updates-manager"]
	path = components/updates-manager
	url = ssh://git@bitbucket.org/webcraftic/wp-plugin-update-services/
[submodule "components/comments-plus"]
	path = components/comments-plus
	url = ssh://git@bitbucket.org/webcraftic/wp-plugin-comments-plus/
[submodule "components/assets-manager"]
	path = components/assets-manager
	url = ssh://git@bitbucket.org/webcraftic/wp-plugin-gonzales/



