/**
 * Page components
 * @author Alex Kovalev <alex.kovalevv@gmail.com> 
 * @copyright Alex Kovalev 30.09.2017 
 */
#WBCR .wbcr-clearfy-components {
  padding: 20px;
}
#WBCR .wbcr-clearfy-components .plugin-card .plugin-card-top {
  min-height: 163px;
}
#WBCR .wbcr-clearfy-components .plugin-card .desc,
#WBCR .wbcr-clearfy-components .plugin-card .name {
  margin-right: 0 !important;
}
#WBCR .wbcr-clearfy-components .plugin-card .name h3 {
  font-size: 17px;
  margin-top: 0 !important;
}
#WBCR .wbcr-clearfy-components .plugin-card .install-now {
  float: right;
}
#WBCR .wbcr-clearfy-components .plugin-card a.open-plugin-details-modal {
  color: #5c5d5f;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
#WBCR .wbcr-clearfy-components .plugin-card.plugin-status-deactive {
  background-color: #f9f2f1;
}
#WBCR .wbcr-clearfy-components .plugin-card.plugin-status-deactive a.open-plugin-details-modal {
  color: #ababab;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}
#WBCR .wbcr-clearfy-components .plugin-card.plugin-status-deactive .plugin-icon {
  opacity: 0.3;
}
#WBCR .wbcr-clearfy-components .plugin-card.plugin-status-deactive .desc {
  color: #afafaf;
}
